
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2874f0;
    padding: 10px;
    color: white;
   position: fixed;
    width: 100%;
    top:0;
    z-index:999;
   
  }
  
  .logoo img{
    width: 55px;
  }
  
  .search-bar input {
    padding: 5px;
    font-size: 16px;
    width: 200%;
    border-radius: 5px;
    border: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links button {
    background-color: white;
    color:#2874f0;
    border: none;
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-links .user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Popup Styles */
  .login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    width: 300px;
    position: relative;
  }
  
  .login-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .login-content form {
    display: flex;
    flex-direction: column;
  }
  
  .login-content form label {
    margin-bottom: 5px;
  }
  
  .login-content form input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .login-content form button {
    padding: 10px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar {
      width: 100%;
      margin-bottom: 10px;
    }
    .logoo img{
        width: 55px;
    }
  
    .search-bar input {
      width: 100%;
    }
  
    .nav-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .nav-links button,
    .nav-links .user-photo {
      margin-bottom: 10px;
    }
  }
  