.side-cart {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    
    margin-top: 60px;
  }
  
  .side-cart.visible {
    transform: translateX(0);
  }
  
  .side-cart h2 {
    text-align: center;
  }
  
  .side-cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-cart li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .side-cart img {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
  
  .side-cart button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  @media(max-width:320px){
    .side-cart{
      width: 300px;
      font-size: 10px;
    }
    .side-cart img{
      width: 50px;
    }
  }
  @media(max-width:376px){
    .side-cart{
      width: 340px;
      font-size: 10px;
    }
    .side-cart img{
      width: 50px;
    }
  }
  @media(max-width:425px){
    .side-cart{
      width: 300px;
      font-size: 10px;
    }
    .side-cart img{
      width: 50px;
    }
    .form-control{
      display: none;
    }
  }